.innerhome{
    width: auto;
    margin-top: 250px;
    margin-left: 70px;
    padding: 50px;
    height: 500px;
  }

.helloWorld {
    position: fixed;
    font-size: 150px;
    font-family: 'Roboto Slab', cursive;
    color: skyblue;
    align-self: self-start;
}

.animateLeft {
  animation: slideLeft 1s both;
}

.undoAnimateLeft {
  animation: undoSlideLeft 1s both;
}

.animateRight {
  animation: slideRight 1s both;
}

.undoAnimateRight {
  animation: undoSlideRight 1s both;
}

.intro {
  position: relative;
  display: inline-flex;
  top: 180px;
  font-family: 'Comfortaa', cursive;
  align-items: first baseline;
}

.name {
  color: skyblue;
  font-size: 80px;
  margin-left: 20px;
}

.occupation{
  position: relative;
  top: 90px;
  width: 850px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}

.profile {
  position: absolute;
  top: 100px;
  right: -100px;
  width: 1000px;
}

@keyframes slideLeft {
  
  from {
    transform: translateX(-1550px);
  }

  to {
    transform: translateX(0px);
  }

}

@keyframes undoSlideLeft {
  
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(-1550px);
  }

}

@keyframes undoSlideRight {
  
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(1550px);
  }

}

@keyframes slideRight {
  
  from {
    transform: translateX(1550px);
  }

  to {
    transform: translateX(0px);
  }

}
